<h1>Listing User Songs of: <%= @user.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_songs.each do |user_song| %>
      <tr>
        <td><%= user_song.song.name %></td>
        <td><%= user_song.song.genre.name %></td>
        <td><%= link_to 'Show', user_user_song_path(user_song.user, user_song.song) %></td>
        <td><%= link_to 'Edit', edit_user_user_song_path(user_song.user, user_song.song) %></td>
        <td><%= link_to 'Destroy', user_user_song_path(user_song.user, user_song.song), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User song', new_user_user_song_path %>
